body{
    width: 650px;
    margin: auto;
    background-color: rgb(183, 211, 211);
    border-right: solid blue 28rem;
    border-left: solid blue 28rem;
    border-top: solid blue 1rem;
    border-bottom: solid blue 1rem;
}
#Focim{
    text-align: center
    ;
}
h1{
    color: rgb(20, 73, 156);
    
}
p{
    color: rgb(20, 73, 156);
    text-align: justify;
    max-width: 100vh;
    margin-bottom: 1rem;
    
}
.autojobbra{
    float: right;
    margin-left: 2rem;
    object-fit: fill;
    
    

}
.autobalra{
    float: left;
    margin-right: 2rem;
    object-fit: fill;
    
    
}
.cimbalra{
    text-align: justify;
    
    padding-right: 1rem;
   
    
}
.cimjobbra{
    margin-left: 65vh;
    float: right;
    
    
}
.szovegbal{
    
    margin: auto;
    max-width: 100vh;
    
}
.szovegjobb{
    
    margin: auto;
    max-width: 100vh;
    
   
}

.border{
    border-top: solid rgb(48, 42, 42);
    
}